In [424]:
# import libraries
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns 
import html
from bs4 import BeautifulSoup
import requests

In [425]:
my_page = requests.get(
    "https://www.railpassengers.org/all-aboard/tools-info/ridership-statistics/")
my_page.status_code

200

In [426]:
star_soup = BeautifulSoup(my_page.content, 'html.parser')

In [427]:
station_list = []
for l in star_soup.findAll('option'):
    station_list.append(l.contents)

station_value = []
for l in star_soup.findAll('option'):
    station_value.append(l['value'])

In [428]:
import pandas as pd
# Create a zip object from two lists
zipbObj = zip(station_list, station_value)
# Create a dictionary from zip object

labels = ['report type', 'url']
df = pd.DataFrame.from_records(zipbObj, columns=labels)
df['url']="https://www.railpassengers.org/"+df['url']

df.head()

                                         report type                                                url
0                                   [Select a State]                    https://www.railpassengers.org/
1    [
                    Alabama
                ]  https://www.railpassengers.org//site/assets/fi...
2    [
                    Arizona
                ]  https://www.railpassengers.org//site/assets/fi...
3   [
                    Arkansas
                ]  https://www.railpassengers.org//site/assets/fi...
4  [
                    California
             ...  https://www.railpassengers.org//site/assets/fi...

In [429]:
df.index.values

array([   0,    1,    2, ..., 1081, 1082, 1083])

In [430]:
df['row_num'] = np.arange(len(df))
df.head()

                                         report type                                                url  row_num
0                                   [Select a State]                    https://www.railpassengers.org/        0
1    [
                    Alabama
                ]  https://www.railpassengers.org//site/assets/fi...        1
2    [
                    Arizona
                ]  https://www.railpassengers.org//site/assets/fi...        2
3   [
                    Arkansas
                ]  https://www.railpassengers.org//site/assets/fi...        3
4  [
                    California
             ...  https://www.railpassengers.org//site/assets/fi...        4

In [431]:
#rows 2-49 are states
#rows 51-594 are stations
#rows 596-599 are business lines
#rows 601-647 are routes
#rows 649-1085 are congressional districts
#wip to fix here...
x=1
df['type']="state"
df.loc[df['row_num'] > 49, 'type'] = "stations"
df.loc[df['row_num'] >595, 'type'] = "business lines"
df.loc[df['row_num'] > 600, 'type'] = "routes"
df.loc[df['row_num'] >648, 'type'] = "congressional districts"

df2 = df
df2 = df2.drop(df2.index[[0, 49, 594, 599, 647]])
df2.head()

                                         report type                                                url  row_num   type
1    [
                    Alabama
                ]  https://www.railpassengers.org//site/assets/fi...        1  state
2    [
                    Arizona
                ]  https://www.railpassengers.org//site/assets/fi...        2  state
3   [
                    Arkansas
                ]  https://www.railpassengers.org//site/assets/fi...        3  state
4  [
                    California
             ...  https://www.railpassengers.org//site/assets/fi...        4  state
5   [
                    Colorado
                ]  https://www.railpassengers.org//site/assets/fi...        5  state

In [11]:
states = df2.loc[df2['type']=='state']
len(states)

48

In [175]:
state_list=[]

for i in range(0, len(states)):
#    print(states.iloc[i]['url'], states.iloc[i]['report type'])
    x=str(states.iloc[i]['report type'])
    x=x[24:]
    x=x[:-20]
    state_list.append(x)

In [177]:
states["states"]=state_list
states.head()

                                         report type                                                url  row_num   type      states
1    [
                    Alabama
                ]  https://www.railpassengers.org//site/assets/fi...        1  state     Alabama
2    [
                    Arizona
                ]  https://www.railpassengers.org//site/assets/fi...        2  state     Arizona
3   [
                    Arkansas
                ]  https://www.railpassengers.org//site/assets/fi...        3  state    Arkansas
4  [
                    California
             ...  https://www.railpassengers.org//site/assets/fi...        4  state  California
5   [
                    Colorado
                ]  https://www.railpassengers.org//site/assets/fi...        5  state    Colorado

In [458]:
#Download all pdfs
from urllib.request import Request, urlopen 
import requests  
import urllib.request  


#url="https://www.railpassengers.org/site/assets/files/1679/abe.pdf"  
req = urllib.request.Request(url, headers={'User-Agent': 'Mozilla/5.0'})  

for i in range(0, len(states)):
#    print(states.iloc[i]['url'], states.iloc[i]['report type'])
    url=states.iloc[i]['url']
    r = requests.get(url)
    file_name="/Users/ericenglin/Desktop/Data Science/Amtrak Web Scraper/states/"
    file_name=file_name+(states.iloc[i]['states'])+".pdf"
    with open(file_name, "wb") as code:
        code.write(r.content)

In [421]:
## Read pdfs
from tabula import read_pdf

state_table=pd.DataFrame()
years = ['2012','2013','2014','2015','2016','2017','2018']



for i in range(0, len(states)):
    state=states.iloc[i]['states']
    print(state) #check status during loop
    #need to define file directory
    file_name="./../"+(states.iloc[i]['states'])+".pdf"
    #read pdf as new variable using tabula 
    df=read_pdf(file_name, 
                    spreadsheet=True, 
                    area=(101.118,29.647,291.706,342.0))
    vals=[]
    #header becomes the 2012 value when reading in table
    try:
        x_list=df.columns.values.tolist()
        for j in x_list:
            x=j.replace(",","")

        x=float(x)
        vals.append(x)

        value_list = df.values.tolist()
        for y in value_list:
            z=y[0]
            z=str(z)
            z=z.replace(",","")
            z=float(z)
            vals.append(z)

        new_state=pd.DataFrame()
        new_state['Year'] = years
        print(vals)


        new_state['Ridership']=vals
        new_state["state"]=state
        state_table = pd.concat([state_table, new_state])

    except AttributeError:
        print("No Data")



print(state_table)

Alabama
[66403.0, 65213.0, 62426.0, 60167.0, 57398.0, 56382.0, 53831.0]
Arizona
[104.9, 105.3, 104.4, 109.6, 107.3, 109.7, 104.1]
Arkansas
[40899.0, 40641.0, 36470.0, 34800.0, 32196.0, 34807.0, 33548.0]
California
[963.0, 1196.0, 527.0, 951.0, 1229.0, 1338.0, 1665.0]
Colorado
[202.2, 193.8, 199.3, 223.3, 246.0, 273.9, 263.2]
Connecticut
[1757.6, 1730.9, 1693.9, 1665.9, 1566.3, 1546.5, 1666.8]
Delaware
[741.8, 740.4, 707.8, 707.1, 697.0, 693.4, 710.3]
Florida
[1140.1, 1099.3, 1067.5, 1016.9, 936.4, 909.2, 885.0]
Georgia
[197.2, 187.5, 175.3, 162.5, 151.2, 150.9, 141.5]
Idaho
[8815.0, 9596.0, 8489.0, 7867.0, 7510.0, 7366.0, 7166.0]
Illinois
[4962.8, 5063.6, 4884.4, 4753.3, 4580.0, 4738.7, 4679.3]
Indiana
[148.5, 152.4, 147.4, 133.6, 132.5, 138.1, 130.6]
Iowa
[59695.0, 59035.0, 56599.0, 57508.0, 61247.0, 60434.0, 57999.0]
Kansas
[49498.0, 50146.0, 49418.0, 49673.0, 49484.0, 52214.0, 49476.0]
Kentucky
[10781.0, 11116.0, 10067.0, 10055.0, 9600.0, 9290.0, 8495.0]
Louisiana
[253.1, 243.9, 232.6, 220.9, 211.1, 209.6, 213.6]
Maine
[330.7, 348.1, 334.9, 262.8, 308.6, 322.3, 341.7]
Maryland
[1914.2, 1943.7, 1904.5, 1845.4, 1913.2, 1985.9, 2002.3]
Massachusetts
[3080.4, 3065.7, 3114.9, 3108.5, 3220.0, 3232.6, 3314.6]
Michigan
[859.5, 891.6, 849.1, 819.2, 744.5, 806.4, 835.5]
Minnesota
[177.6, 171.1, 137.4, 136.9, 144.0, 136.4, 126.7]
Mississippi
[114.1, 112.0, 107.8, 106.5, 102.7, 100.5, 96.1]
Missouri
[722.5, 757.4, 725.5, 690.5, 688.5, 729.5, 715.2]
Montana
[148.7, 147.3, 117.4, 112.1, 123.6, 125.3, 121.4]
Nebraska
[46119.0, 49011.0, 48600.0, 52993.0, 54593.0, 54940.0, 52906.0]
Nevada
[79502.0, 91016.0, 77125.0, 73985.0, 86097.0, 81819.0, 83714.0]
New Hampshire
[213.4, 226.4, 196.1, 167.1, 198.1, 204.6, 212.9]
New Jersey
[1649.0, 1628.4, 1625.5, 1596.3, 1637.4, 1667.2, 1704.7]
New Mexico
[128.9, 127.2, 126.0, 131.4, 125.9, 122.4, 102.9]
New York
[1329.0, 1416.0, 1962.0, 2214.0, 2413.0, 2346.0, 2375.0]
North Carolina
[923.4, 958.5, 951.3, 938.1, 880.7, 847.9, 868.8]
North Dakota
[153.7, 153.5, 130.8, 119.5, 106.2, 103.4, 103.2]
Ohio
[161.8, 159.6, 152.3, 142.3, 140.6, 147.7, 134.1]
Oklahoma
[91113.0, 84726.0, 81466.0, 71115.0, 68557.0, 73455.0, 69473.0]
Oregon
[914.8, 914.1, 820.7, 794.7, 823.7, 829.5, 796.9]
Pennsylvania
[6050.2, 6189.4, 5957.7, 6082.9, 6330.0, 6427.6, 6514.9]
Rhode Island
[864.0, 841.4, 850.8, 882.1, 911.7, 942.5, 973.6]
South Carolina
[241.0, 236.5, 222.0, 216.2, 195.8, 194.9, 179.7]
South Dakota
No Data
Tennessee
[75688.0, 78675.0, 72589.0, 74968.0, 74667.0, 76122.0, 73758.0]
Texas
[458.3, 437.2, 410.5, 376.1, 356.9, 388.5, 377.9]
Utah
[52565.0, 54942.0, 51203.0, 45830.0, 51161.0, 49625.0, 55181.0]
Vermont
[94.2, 98.9, 106.0, 101.7, 90.8, 92.4, 91.9]
Virginia
[1380.6, 1489.6, 1471.1, 1488.6, 1437.8, 1474.9, 1452.1]
Washington
[1283.1, 1254.3, 1229.7, 1192.4, 1247.5, 1260.3, 1307.3]
West Virginia
[54708.0, 55819.0, 44293.0, 44299.0, 55658.0, 50596.0, 54493.0]
Wisconsin
[934.7, 913.9, 880.8, 884.5, 899.0, 919.7, 929.1]
Wyoming
No Data
    Year  Ridership          state
0   2012    66403.0        Alabama
1   2013    65213.0        Alabama
2   2014    62426.0        Alabama
3   2015    60167.0        Alabama
4   2016    57398.0        Alabama
5   2017    56382.0        Alabama
6   2018    53831.0        Alabama
0   2012      104.9        Arizona
1   2013      105.3        Arizona
2   2014      104.4        Arizona
3   2015      109.6        Arizona
4   2016      107.3        Arizona
5   2017      109.7        Arizona
6   2018      104.1        Arizona
0   2012    40899.0       Arkansas
1   2013    40641.0       Arkansas
2   2014    36470.0       Arkansas
3   2015    34800.0       Arkansas
4   2016    32196.0       Arkansas
5   2017    34807.0       Arkansas
6   2018    33548.0       Arkansas
0   2012      963.0     California
1   2013     1196.0     California
2   2014      527.0     California
3   2015      951.0     California
4   2016     1229.0     California
5   2017     1338.0     California
6   2018     1665.0     California
0   2012      202.2       Colorado
1   2013      193.8       Colorado
..   ...        ...            ...
5   2017       92.4        Vermont
6   2018       91.9        Vermont
0   2012     1380.6       Virginia
1   2013     1489.6       Virginia
2   2014     1471.1       Virginia
3   2015     1488.6       Virginia
4   2016     1437.8       Virginia
5   2017     1474.9       Virginia
6   2018     1452.1       Virginia
0   2012     1283.1     Washington
1   2013     1254.3     Washington
2   2014     1229.7     Washington
3   2015     1192.4     Washington
4   2016     1247.5     Washington
5   2017     1260.3     Washington
6   2018     1307.3     Washington
0   2012    54708.0  West Virginia
1   2013    55819.0  West Virginia
2   2014    44293.0  West Virginia
3   2015    44299.0  West Virginia
4   2016    55658.0  West Virginia
5   2017    50596.0  West Virginia
6   2018    54493.0  West Virginia
0   2012      934.7      Wisconsin
1   2013      913.9      Wisconsin
2   2014      880.8      Wisconsin
3   2015      884.5      Wisconsin
4   2016      899.0      Wisconsin
5   2017      919.7      Wisconsin
6   2018      929.1      Wisconsin

[322 rows x 3 columns]

In [ ]:
state_table.to_csv("State Table.csv")